/**
 * additional css
 */
::-webkit-scrollbar {
  background: rgba(0,0,0,.5)
}
::-webkit-scrollbar-track {
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background-color: #08c;
  outline: none;
}
.ant-input::placeholder {
  color: #777;
}
